#s
{
    background-color: #15be6f;
    height: 350px;
    width: 400px;
    float: left;
    margin: 40px;
}
#s1
{
     background-color: hsl(320, 80%, 41%);
    height: 350px;
    width: 800px;
    float: right;
    margin: 40px;
}
#s2
{
     background-color: hwb(246 28% 24%);
    height: 400px;
    width: 400px;
    float:left ;
    margin: 30px;
}
#s3
{
     background-color: lab(81.09% -23.98 78.91);
    height: 400px;
    width: 400px;
    float:left ;
    margin: 30px;
}
#s4
{
   background-color: lch(63.3% 71.09 327.09);
    height: 400px;
    width: 400px;
    float:right ;
    margin: 30px;
} 
